.ATFU{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255, 0.7);
}

.title{
    width: 100%;
    text-align: center;
    font-size: 60px;
    padding: 10px 0 0 0;
    margin: 0;
    background: linear-gradient(to right, rgb(26, 7, 37), rgb(0, 22, 189));
    -webkit-background-clip: text;
    background-clip: text;   
    -webkit-text-fill-color: transparent;
}

.container{
    width: 100%;
    height: 650px;
    display: flex;
    padding: 2%;
    box-sizing: border-box;

}

.image{
    height: 100%;
    width: 60%;
    
    img{
        height: 100%;
        width: 850px;
        border-radius: 10px;
    }
}

.content{
    height: 100%;
    width: 40%;
}

